.container{
    display: grid;
    border: 1px solid black;
    font-size: 25px;
    width: 300px;
    
}
.verde{
    background-color: green;
    justify-items: stretch;
    align-items: stretch;
}
.resultado{
    align-items: center;
    gap: 1rem;
    justify-items: stretch;
}
a{
    color: rgba(219, 212, 212, 0.671);
}
.azul{
    background-color: blue;
    color: white;
    justify-items: stretch;
}
